{% extends 'base.html' %}
{% block content %}

<h1>My Dev Skills</h1>

 {% for user in users %}
    <p>Name: {{ user.name }}</p>
    <p>Skill: {{ user.skill }}</p>
    <hr />
  {% endfor %}

  <div class="user_main">
    <a href="/users/{{ user.id }}">
            <p>Name: {{ skill.name }}</p>
            <p>Description: {{ skill.description }}</p>
            <p>Skill Level: {{ skill.skill_level }}</p>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </a>
</div>

{% endblock %}